body{
    background-image: url(../Lukas/p_video_answer_270458666_big.jpg);
}


.LUKAS{
    text-align: center;
    border: solid black;
    background-color: yellow;

}

.babhaba{
    background-color: black;
}

.letras{
color: white;
}